<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myFirstComponent" class="pl.pjatk.mikpre.MyFirstComponent"/>

    <bean id="mySecondComponent" class="pl.pjatk.mikpre.MySecondComponent">
        <constructor-arg index="0" ref="myFirstComponent"/>
    </bean>

    <bean id="myThirdComponent" class="pl.pjatk.mikpre.MyThirdComponent">
    </bean>

</beans>